@import './variables';

@function break($point-name) {
    @return map-get($breakpoints, $point-name);
}

@mixin mobile {
    @media (max-width: break(md)) {
        @content;
    }
}

* {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none !important;
}

.mngLink {
  color: $danger;

  &:hover{
    color: rgb(227, 186, 4);
    text-decoration: none;
  }
}

.navigator {
  #{&}-items{
    color: $danger !important;
  
    @include mobile{
      width: 100%;
      text-align: left;
      padding-left: 10px !important;
    }

    &:hover{
      background-color: $danger;
      color: $light !important;
    }
  }
}